In [1]:
import pandas as pd

# Load the data
df=pd.read_csv('datablood.csv')

In [2]:
# Display the first few rows of the dataframe
df.head()

,S.No.,Hospital Name,A+,A-,B+,B-,O+,O-,AB+,AB-,Total Units,Last Updated Date
0,1,"M/S Vikash Sheel Seva Sansthan, Godda Hospital...",3,0,3.0,2,4,0,1,1,14,01-05-2024 08:58
1,2,Asarfi Blood Centre,0,0,4.0,0,5,0,1,0,10,01-05-2024 10:32
2,3,"Blood Bank, Sadar Hospital, Jamtara",2,1,2.0,0,11,0,0,0,16,01-05-2024 11:06
3,4,Blood Bank Maa Rampyari superspeciality Hospit...,4,0,27.0,0,3,0,0,1,35,02-05-2024 07:26
4,5,"Blood Bank, Bhagwan Mahabir Medica Superspecia...",0,0,1.0,0,0,0,0,0,1,02-05-2024 10:22

In [3]:
# Check for missing values
print(df.isnull().sum())

S.No.                0
Hospital Name        0
A+                   0
A-                   0
B+                   1
B-                   0
O+                   0
O-                   0
AB+                  0
AB-                  0
Total Units          0
Last Updated Date    0
dtype: int64

In [4]:
# Fill or drop missing values if any
df.fillna(0, inplace=True)

In [5]:
def find_hospitals(df, blood_type, required_units):
    # Filter hospitals where the blood type units are greater than or equal to required units
    available_hospitals = df[df[blood_type] >= required_units]
    
    # Return the hospital names and available units
    return available_hospitals[['Hospital Name', blood_type]]

# Example usage:
blood_type = 'A+'
required_units = 5
available_hospitals = find_hospitals(df, blood_type, required_units)
print(available_hospitals)

                                          Hospital Name  A+
15    Blood Bank Division, Devkamal Hospital & Resea...   7
16    Blood Bank Division, Devkamal Hospital & Resea...   7
17                  Blood Bank, Sadar Hospital, Giridih   7
21                            Blood Bank, C.C.L. RANCHI   5
25                   SINGHPUR NURSING HOME BLOOD CENTRE   6
...                                                 ...  ..
1241      Nagarmal Modi Seva Sadan Hospital, Blood Bank   5
1248                            Bokaro General Hospital  24
1251                 Blood Bank, Sadar Hospital, Palamu  29
1252                 Blood Bank, Sadar Hospital, Palamu  29
1261  Gurunanak Hospital & Research Centre Blood Ban...   9

[279 rows x 2 columns]